<a href="https://colab.research.google.com/github/SabrinaDantas/projeto_estatistica_aplicada_pucrs/blob/main/projeto_estatistica_aplicada.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Projeto - Estatística Aplicada

## Fase 1

### 1.1 Leitura do Banco de Dados

A base de dados refere-se a [*Jogadores Registrados na FIFA*](https://raw.githubusercontent.com/filipezabala/pucrs-tecnologo-bd/main/dados/Anexo_Projeto_fifa_world_national_teams_versa%CC%83o_oficial%2020241.csv) , em formado CSV. A leitura será realizada através da URL utilizando a função ***read.csv( )***.

In [24]:
url_fifa <- 'https://raw.githubusercontent.com/filipezabala/pucrs-tecnologo-bd/main/dados/Anexo_Projeto_fifa_world_national_teams_versa%CC%83o_oficial%2020241.csv'
df_fifa <- read.csv(url_fifa, header = TRUE, sep = ';')

### 1.2 Análise da Estrutura

A análise da estrutura de dados é importante para compreender, identificar possíveis problemas, selecionar variáveis relevantes, preparar os dados e planejar a análise. Em R, utiliza-se a função ***str( )***.

In [25]:
str(df_fifa)
# head(df_fifa)

'data.frame':	718 obs. of  30 variables:
 $ id                           : int  158023 153079 211110 201399 226226 199667 212616 216816 183892 231478 ...
 $ name                         : chr  "Messi" "Aguero" "Dybala" "Icardi" ...
 $ full_name                    : chr  "Lionel Andr\xe9s Messi Cuccittini" "Sergio Leonel Ag\xfcero del Castillo" "Paulo Bruno Exequiel Dybala" "Mauro Emanuel Icardi Rivero" ...
 $ overall_rating               : int  94 89 89 87 82 77 77 78 79 79 ...
 $ value_euro                   : int  110500000 64500000 89000000 64500000 30000000 8500000 12000000 15000000 8500000 18000000 ...
 $ wage_euro                    : int  565000 300000 205000 130000 83000 28000 27000 53000 19000 54000 ...
 $ nationality                  : chr  "Argentina" "Argentina" "Argentina" "Argentina" ...
 $ national_team                : chr  "Argentina" "Argentina" "Argentina" "Argentina" ...
 $ club_team                    : chr  "FC Barcelona" "Manchester City" "Juventus" "Inter" ...
 $ age                          : int  31 30 25 26 22 28 24 23 31 21 ...
 $ height_cm                    : int  170 173 152 155 175 185 152 155 155 175 ...
 $ weight_kgs                   : int  72 70 75 75 70 79 70 81 83 79 ...
 $ international_reputation.1.5.: int  5 4 3 3 1 2 1 2 1 1 ...
 $ weak_foot.1.5.               : int  4 4 3 4 3 3 3 3 3 4 ...
 $ skill_moves.1.5.             : int  4 4 4 3 4 2 4 3 2 4 ...
 $ club_rating                  : int  86 85 85 82 80 79 75 76 80 82 ...
 $ Goleiro                      : int  0 0 0 0 0 0 0 0 0 0 ...
 $ Zagueiro                     : int  0 0 0 0 0 0 0 0 0 0 ...
 $ Meio                         : int  0 0 0 0 0 0 0 0 0 0 ...
 $ Atacante                     : int  1 0 1 1 0 0 0 0 0 0 ...
 $ crossing                     : int  86 70 82 46 75 66 76 40 68 56 ...
 $ finishing                    : int  95 93 84 91 77 40 68 79 60 82 ...
 $ heading_accuracy             : int  70 77 68 91 59 79 50 80 76 79 ...
 $ short_passing                : int  92 81 87 73 82 70 78 68 71 62 ...
 $ dribbling                    : int  97 89 92 77 84 63 83 76 57 78 ...
 $ jumping                      : int  68 81 75 94 64 77 58 84 76 81 ...
 $ strength                     : int  66 73 65 76 69 78 68 72 82 86 ...
 $ long_shots                   : int  94 83 88 70 76 56 79 66 58 68 ...
 $ aggression                   : int  48 65 48 56 65 83 56 70 81 74 ...
 $ GK_reflexes                  : int  8 14 8 9 14 7 14 11 6 13 ...

No banco de dados da FIFA, temos 718 linhas e 30 variáveis que foram classificadas corretamente. Para prosseguir com a análise de possíveis problemas, será verificado a presença de valores ausentes.

In [26]:
sum(is.na(df_fifa))

[1] 0

Não foi localizado a presença de valores ausentes no banco de dados.

### 1.3 Tipos de Variáveis


1. **Qualitativa Nominal:** Nacionalidade - (`nationality`)

2. **Qualitativa Ordinal:**

3. **Quantitativa Discreta:** Reputação em uma escala de 1 (pior) até 5 (melhor) - (`international_reputation.1.5`)

4. **Quantitativa Contínua:** Peso em KG - (`weight_kgs`)

### 1.4 Estatística Descritiva

A estatística descritiva é importante para resumir e descrever características importantes de um conjunto de dados. Em R, podemos usar a função ***summary( )*** para realizar essa tarefa. Antes disso, será realizado um filtro das colunas que são do tipo inteiro.

In [27]:
filter_int <- sapply(df_fifa, is.integer)
summary(df_fifa[,filter_int])

### RETIRAR O ID DO FILTRO

       id         overall_rating    value_euro          wage_euro
 Min.   : 20801   Min.   :58.00   Min.   :   230000   Min.   :  1000
 1st Qu.:189831   1st Qu.:72.00   1st Qu.:  3325000   1st Qu.: 10000
 Median :204626   Median :76.00   Median :  8000000   Median : 27000
 Mean   :203668   Mean   :76.46   Mean   : 13897695   Mean   : 49560
 3rd Qu.:222200   3rd Qu.:80.00   3rd Qu.: 17000000   3rd Qu.: 59000
 Max.   :246387   Max.   :94.00   Max.   :110500000   Max.   :565000
      age          height_cm     weight_kgs     international_reputation.1.5.
 Min.   :18.00   Min.   :152   Min.   : 59.00   Min.   :1.000
 1st Qu.:24.00   1st Qu.:170   1st Qu.: 73.00   1st Qu.:1.000
 Median :26.00   Median :183   Median : 77.00   Median :1.000
 Mean   :26.57   Mean   :177   Mean   : 77.67   Mean   :1.673
 3rd Qu.:29.00   3rd Qu.:188   3rd Qu.: 82.00   3rd Qu.:2.000
 Max.   :37.00   Max.   :203   Max.   :100.00   Max.   :5.000
 weak_foot.1.5.  skill_moves.1.5.  club_rating    Goleiro
 Min.   :1.000   Min.   :1.000    Min.   :60   Min.   :0.00000
 1st Qu.:3.000   1st Qu.:2.000    1st Qu.:72   1st Qu.:0.00000
 Median :3.000   Median :3.000    Median :76   Median :0.00000
 Mean   :3.185   Mean   :2.787    Mean   :76   Mean   :0.04178
 3rd Qu.:4.000   3rd Qu.:3.000    3rd Qu.:80   3rd Qu.:0.00000
 Max.   :5.000   Max.   :5.000    Max.   :86   Max.   :1.00000
    Zagueiro            Meio            Atacante         crossing
 Min.   :0.00000   Min.   :0.00000   Min.   :0.0000   Min.   : 8.00
 1st Qu.:0.00000   1st Qu.:0.00000   1st Qu.:0.0000   1st Qu.:49.00
 Median :0.00000   Median :0.00000   Median :0.0000   Median :65.00
 Mean   :0.07521   Mean   :0.08217   Mean   :0.1003   Mean   :58.63
 3rd Qu.:0.00000   3rd Qu.:0.00000   3rd Qu.:0.0000   3rd Qu.:73.00
 Max.   :1.00000   Max.   :1.00000   Max.   :1.0000   Max.   :93.00
   finishing     heading_accuracy short_passing     dribbling
 Min.   : 7.00   Min.   : 7.00    Min.   :11.00   Min.   : 7.00
 1st Qu.:37.00   1st Qu.:52.00    1st Qu.:65.00   1st Qu.:60.25
 Median :58.00   Median :64.00    Median :72.00   Median :70.00
 Mean   :53.36   Mean   :59.11    Mean   :68.18   Mean   :64.40
 3rd Qu.:70.00   3rd Qu.:73.00    3rd Qu.:78.00   3rd Qu.:77.00
 Max.   :95.00   Max.   :93.00    Max.   :92.00   Max.   :97.00
    jumping         strength       long_shots      aggression    GK_reflexes
 Min.   :28.00   Min.   :30.00   Min.   : 5.00   Min.   :17.0   Min.   : 2.00
 1st Qu.:63.00   1st Qu.:65.00   1st Qu.:46.25   1st Qu.:56.0   1st Qu.: 8.00
 Median :70.00   Median :72.00   Median :63.00   Median :68.0   Median :11.00
 Mean   :69.21   Mean   :70.88   Mean   :56.88   Mean   :64.1   Mean   :18.36
 3rd Qu.:77.00   3rd Qu.:78.00   3rd Qu.:72.00   3rd Qu.:76.0   3rd Qu.:14.00
 Max.   :95.00   Max.   :94.00   Max.   :94.00   Max.   :94.0   Max.   :94.00

### 1.4 Tabela de Frequência

A tabela de frequências é uma ferramenta útil para analisar dados, ajuda a entender a distribuição dos dados, identificar padrões e outliers, validar os dados e tomar decisões informadas.


Para variáveis do tipo caracter (chr), a função ***sapply( )*** é empregada para criar uma tabela contendo apenas os dados desse tipo, excluindo **'name'** e '**full_name'** No entanto, em análises que envolvem um grande número de colunas, pode ser mais eficiente adotar uma abordagem diferente.

In [28]:
sapply(df_fifa[,c("nationality", "national_team", "club_team")], table)

$nationality

          Argentina           Australia             Austria             Belgium
                 17                  13                  16                  19
             Brazil            Bulgaria            Cameroon              Canada
                 23                   3                  17                  19
              Chile            Colombia      Czech Republic             Denmark
                 10                  12                  20                  23
            Ecuador               Egypt             England             Finland
                  6                   7                  23                  19
             France             Germany              Greece             Hungary
                 23                  23                  21                   8
            Iceland               Italy         Ivory Coast              Mexico
                 13                  22                  14                  10
        Netherlands         New Zealand              Norway            Paraguay
                 23                   7                  22                   2
               Peru              Poland            Portugal Republic of Ireland
                  7                  21                  15                  21
            Romania              Russia            Scotland            Slovenia
                 11                  13                  23                  14
       South Africa               Spain              Sweden         Switzerland
                  6                  23                  20                  16
             Turkey       United States             Uruguay           Venezuela
                 21                  23                  15                  13
              Wales
                 21

$national_team

          Argentina           Australia             Austria             Belgium
                 17                  13                  16                  19
             Brazil            Bulgaria            Cameroon              Canada
                 23                   3                  17                  19
              Chile            Colombia       Cote d"ivoire      Czech Republic
                 10                  12                  14                  20
            Denmark             Ecuador               Egypt             England
                 23                   6                   7                  23
            Finland              France             Germany              Greece
                 19                  23                  23                  21
            Hungary             Iceland               Italy              Mexico
                  8                  13                  22                  10
        Netherlands         New Zealand              Norway            Paraguay
                 23                   7                  22                   2
               Peru              Poland            Portugal Republic of Ireland
                  7                  21                  15                  21
            Romania              Russia            Scotland            Slovenia
                 11                  13                  23                  14
       South Africa               Spain              Sweden         Switzerland
                  6                  23                  20                  16
             Turkey       United States             Uruguay           Venezuela
                 21                  23                  15                  13
              Wales
                 21

$club_team

                   1. FC Koln                1. FC Nurnberg
                            3                             1
              1. FSV Mainz 05                     Aarhus GF
                            3                             1
                     Aberdeen                    AEK Athens
                            2                             5
                          AIK                          Ajax
                            2                             8
                   Alanyaspor                   Albacete BP
                            1                             1
    America FC (Minas Gerais)                     Amiens SC
                            1                             1
                      Arsenal                     AS Monaco
                            8                             5
             AS Saint-Etienne                   Aston Villa
                            1                             6
                     Atalanta       Athletic Club de Bilbao
                            3                             1
             Atiker Konyaspor                Atlanta United
                            3                             2
              Atletico Madrid              Atletico Mineiro
                           11                             4
                   AZ Alkmaar                      Barnsley
                            5                             1
          Bayer 04 Leverkusen                   Besiktas JK
                            7                             4
                    BK Hacken                     BK Häcken
                            1                             1
             Blackburn Rovers                       Bologna
                            2                             4
            Borussia Dortmund      Borussia Monchengladbach
                            5                             6
                  Bournemouth                     Brentford
                            5                             2
       Brighton & Hove Albion                  Bristol City
                            2                             2
                   Brondby IF                       Burnley
                            1                             6
                    Bursaspor                      Cadiz CF
                            1                             1
                     Cagliari                  Cardiff City
                            4                             4
                   CD Leganes                       CD Lugo
                            3                             1
                       Celtic           CF Rayo Majadahonda
                           12                             1
                  Chapecoense                       Chelsea
                            1                            10
                 Chicago Fire                Club Brugge KV
                            1                             2
              Colorado Rapids              Columbus Crew SC
                            1                             3
                      Crotone                      Cruzeiro
                            2                             2
               Crystal Palace                     DC United
                            4                             2
             Deportivo Alaves        Deportivo de La Coruna
                            2                             1
                 Derby County                     Dijon FCO
                            4                             1
                Dinamo Zagreb                   Dynamo Kyiv
                            2                             3
          Eintracht Frankfurt          En Avant de Guingamp
                            2                             2
                      Everton                   FC Augsburg
                            6                             4
                 FC Barcelona             FC Bayern Munchen
                           11                            14
                    FC Dallas      FC Girondins de Bordeaux
                            1                             1
                 FC Kobenhavn                       FC Metz
                            4                             1
               FC Midtjylland                     FC Nantes
                            4                             2
                FC Schalke 04                  FC St. Pauli
                            2                             1
                Fenerbahce SK                     Feyenoord
                            7                             2
                   Fiorentina                    Fluminense
                            6                             3
           Fortuna Dusseldorf                     Frosinone
                            2                             1
                       Fulham                Galatasaray SK
                            4                             4
                        Genoa                     Girona FC
                            3                             1
                   Goztepe SK                        Gremio
                            3                             4
                 Hamburger SV                   Hannover 96
                            2                             3
          Heart of Midlothian                 Hellas Verona
                            3                             1
                   Hertha BSC                     Hibernian
                            5                             1
                 HJK Helsinki                Houston Dynamo
                            1                             1
            Huddersfield Town                     Hull City
                            2                             3
               IFK Norrkoping                         Inter
                            1                             7
                Internacional                  Ipswich Town
                            5                             1
                     Juventus                      KAA Gent
                           14                             3
                Kaizer Chiefs                  Kasimpasa SK
                            1                             2
                  Kayserispor                      KRC Genk
                            1                             3
                  KV Oostende La Berrichonne de Chateauroux
                            1                             1
                    LA Galaxy                         Lazio
                            3                             2
                 Leeds United                Legia Warszawa
                            3                             3
               Leicester City                    Levante UD
                            8                             1
                    Liverpool              Lokomotiv Moscow
                            9                             6
               Los Angeles FC                    LOSC Lille
                            3                             1
                     Malmo FF               Manchester City
                            1                            10
            Manchester United         Medipol Basaksehir FK
                           12                             3
                Middlesbrough                         Milan
                            1                             7
                     Millwall           Minnesota United FC
                            2                             3
              Montpellier HSC               Montreal Impact
                            1                             2
                    NAC Breda                        Napoli
                            1                             6
             New York City FC            New York Red Bulls
                            1                             1
             Newcastle United                  Norwich City
                            4                             2
            Nottingham Forest               Odense Boldklub
                            1                             2
               Olympiacos CFP        Olympique de Marseille
                            6                             5
           Olympique Lyonnais                     Orebro SK
                            3                             1
              Orlando City SC               Orlando Pirates
                            3                             2
                      Palermo              Panathinaikos FC
                            2                             1
                         PAOK                      Paris FC
                            6                             1
          Paris Saint-Germain                         Parma
                           10                             2
                   PEC Zwolle               PFC CSKA Moscow
                            1                             3
           Philadelphia Union                Pogon Szczecin
                            1                             2
             Portland Timbers             Preston North End
                            2                             2
                          PSV           Queens Park Rangers
                           10                             1
                   Rangers FC                Rayo Vallecano
                            3                             1
                   RB Leipzig                      RC Celta
                            9                             5
         RC Strasbourg Alsace                  RCD Espanyol
                            2                             1
                      Reading                    Real Betis
                            4                             4
                  Real Madrid                Real Salt Lake
                           11                             1
                Real Sociedad        Real Sporting de Gijon
                            1                             1
           Real Valladolid CF                   Red Star FC
                            1                             1
                     Rizespor                          Roma
                            1                             7
                 Rosenborg BK              Royal Antwerp FC
                            3                             1
         Royal Excel Mouscron                RSC Anderlecht
                            1                             1
                    Sampdoria          San Jose Earthquakes
                            4                             1
                       Santos                      Sassuolo
                            2                             1
                  SC Freiburg             Scunthorpe United
                            2                             1
                    SD Huesca           Seattle Sounders FC
                            2                             4
                   Sevilla FC              Sheffield United
                            5                             2
          Sheffield Wednesday               SK Slavia Praha
                            1                             8
                  SonderjyskE                   Southampton
                            1                             5
                         SPAL                  Sparta Praha
                            1                             2
               Spartak Moscow          Sporting Kansas City
                            3                             3
             Sporting Lokeren             Stade Brestois 29
                            1                             1
             Stade Rennais FC             Standard de Liege
                            1                             3
                   Stoke City                 SV Sandhausen
                            5                             1
             SV Werder Bremen                  Swansea City
                            3                             4
                       Torino                    Toronto FC
                            3                             3
            Tottenham Hotspur        Toulouse Football Club
                           14                             3
                  Trabzonspor           TSG 1899 Hoffenheim
                            1                             3
                      Udinese                   Valencia CF
                            3                             4
       Vancouver Whitecaps FC                 VfB Stuttgart
                            5                             3
              VfL Bochum 1848                 VfL Wolfsburg
                            1                             3
               Viktoria Plzen                 Villarreal CF
                            5                             3
                      Vitesse                       Watford
                            1                             3
         West Bromwich Albion               West Ham United
                            4                             3
               Wigan Athletic                     Willem II
                            2                             2
          WisWieczysta Krakow       Wolverhampton Wanderers
                            2                             5
             Yeni Malatyaspor
                            1