<a href="https://colab.research.google.com/github/SabrinaDantas/projeto_estatistica_aplicada_pucrs/blob/main/projeto_estatistica_aplicada.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Projeto - Estatística Aplicada

## Bibliotecas

As bibliotecas desempenham um papel essencial na expansão das capacidades da linguagem R e são fundamentais para realizar análises de dados complexas e visualizações informativas.

<small>*Para uma leitura, este passo pode ser desconsiderado devido à demora.*</small>

In [21]:
install.packages(c('skimr', 'tidyverse'), dep = TRUE)

library(skimr)
library(tidyverse)

Installing packages into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

## 1. Fase 1

### 1.1 Leitura do Banco de Dados

A base de dados refere-se a [*Jogadores Registrados na FIFA*](https://raw.githubusercontent.com/filipezabala/pucrs-tecnologo-bd/main/dados/Anexo_Projeto_fifa_world_national_teams_versa%CC%83o_oficial%2020241.csv) , em formado CSV. A leitura será realizada através da URL utilizando a função ***read.csv( )***.

In [22]:
url_fifa <- 'https://raw.githubusercontent.com/filipezabala/pucrs-tecnologo-bd/main/dados/Anexo_Projeto_fifa_world_national_teams_versa%CC%83o_oficial%2020241.csv'
df_fifa <- read.csv(url_fifa, header = TRUE, sep = ';')

### 1.2 Análise da Estrutura

A análise da estrutura de dados é importante para compreender, identificar possíveis problemas, selecionar variáveis relevantes, preparar os dados e planejar a análise. Em R, utiliza-se a função ***str( )***.

In [23]:
str(df_fifa)
# head(df_fifa)

'data.frame':	718 obs. of  30 variables:
 $ id                           : int  158023 153079 211110 201399 226226 199667 212616 216816 183892 231478 ...
 $ name                         : chr  "Messi" "Aguero" "Dybala" "Icardi" ...
 $ full_name                    : chr  "Lionel Andr\xe9s Messi Cuccittini" "Sergio Leonel Ag\xfcero del Castillo" "Paulo Bruno Exequiel Dybala" "Mauro Emanuel Icardi Rivero" ...
 $ overall_rating               : int  94 89 89 87 82 77 77 78 79 79 ...
 $ value_euro                   : int  110500000 64500000 89000000 64500000 30000000 8500000 12000000 15000000 8500000 18000000 ...
 $ wage_euro                    : int  565000 300000 205000 130000 83000 28000 27000 53000 19000 54000 ...
 $ nationality                  : chr  "Argentina" "Argentina" "Argentina" "Argentina" ...
 $ national_team                : chr  "Argentina" "Argentina" "Argentina" "Argentina" ...
 $ club_team                    : chr  "FC Barcelona" "Manchester City" "Juventus" "Inter" ...
 $ age                          : int  31 30 25 26 22 28 24 23 31 21 ...
 $ height_cm                    : int  170 173 152 155 175 185 152 155 155 175 ...
 $ weight_kgs                   : int  72 70 75 75 70 79 70 81 83 79 ...
 $ international_reputation.1.5.: int  5 4 3 3 1 2 1 2 1 1 ...
 $ weak_foot.1.5.               : int  4 4 3 4 3 3 3 3 3 4 ...
 $ skill_moves.1.5.             : int  4 4 4 3 4 2 4 3 2 4 ...
 $ club_rating                  : int  86 85 85 82 80 79 75 76 80 82 ...
 $ Goleiro                      : int  0 0 0 0 0 0 0 0 0 0 ...
 $ Zagueiro                     : int  0 0 0 0 0 0 0 0 0 0 ...
 $ Meio                         : int  0 0 0 0 0 0 0 0 0 0 ...
 $ Atacante                     : int  1 0 1 1 0 0 0 0 0 0 ...
 $ crossing                     : int  86 70 82 46 75 66 76 40 68 56 ...
 $ finishing                    : int  95 93 84 91 77 40 68 79 60 82 ...
 $ heading_accuracy             : int  70 77 68 91 59 79 50 80 76 79 ...
 $ short_passing                : int  92 81 87 73 82 70 78 68 71 62 ...
 $ dribbling                    : int  97 89 92 77 84 63 83 76 57 78 ...
 $ jumping                      : int  68 81 75 94 64 77 58 84 76 81 ...
 $ strength                     : int  66 73 65 76 69 78 68 72 82 86 ...
 $ long_shots                   : int  94 83 88 70 76 56 79 66 58 68 ...
 $ aggression                   : int  48 65 48 56 65 83 56 70 81 74 ...
 $ GK_reflexes                  : int  8 14 8 9 14 7 14 11 6 13 ...

No banco de dados da FIFA, temos 718 linhas e 30 variáveis que foram classificadas corretamente. Para prosseguir com a análise de possíveis problemas, será verificado a presença de valores ausentes.

In [24]:
sum(is.na(df_fifa))

[1] 0

Não foi localizado a presença de valores ausentes no banco de dados.

### 1.3 Tipos de Variáveis


1. **Qualitativa Nominal:** Nacionalidade - (`nationality`)

2. **Qualitativa Ordinal:**

3. **Quantitativa Discreta:** Reputação em uma escala de 1 (pior) até 5 (melhor) - (`international_reputation.1.5`)

4. **Quantitativa Contínua:** Peso em KG - (`weight_kgs`)

### 1.4 Estatística Descritiva

A estatística descritiva é importante para resumir e descrever características importantes de um conjunto de dados. Em R, podemos usar a função ***summary( )*** para realizar essa tarefa. Antes disso, será realizado um filtro das colunas que são do tipo inteiro, sendo excluída a coluna **id**.

In [25]:
filter_int <- sapply(df_fifa, is.integer)  #Filtro do tipo inteiro
sem_coluna_id <- df_fifa[, which(filter_int)[2:25]] # Retirado a coluna ID da análise

summary(sem_coluna_id)

 overall_rating    value_euro          wage_euro           age
 Min.   :58.00   Min.   :   230000   Min.   :  1000   Min.   :18.00
 1st Qu.:72.00   1st Qu.:  3325000   1st Qu.: 10000   1st Qu.:24.00
 Median :76.00   Median :  8000000   Median : 27000   Median :26.00
 Mean   :76.46   Mean   : 13897695   Mean   : 49560   Mean   :26.57
 3rd Qu.:80.00   3rd Qu.: 17000000   3rd Qu.: 59000   3rd Qu.:29.00
 Max.   :94.00   Max.   :110500000   Max.   :565000   Max.   :37.00
   height_cm     weight_kgs     international_reputation.1.5. weak_foot.1.5.
 Min.   :152   Min.   : 59.00   Min.   :1.000                 Min.   :1.000
 1st Qu.:170   1st Qu.: 73.00   1st Qu.:1.000                 1st Qu.:3.000
 Median :183   Median : 77.00   Median :1.000                 Median :3.000
 Mean   :177   Mean   : 77.67   Mean   :1.673                 Mean   :3.185
 3rd Qu.:188   3rd Qu.: 82.00   3rd Qu.:2.000                 3rd Qu.:4.000
 Max.   :203   Max.   :100.00   Max.   :5.000                 Max.   :5.000
 skill_moves.1.5.  club_rating    Goleiro           Zagueiro
 Min.   :1.000    Min.   :60   Min.   :0.00000   Min.   :0.00000
 1st Qu.:2.000    1st Qu.:72   1st Qu.:0.00000   1st Qu.:0.00000
 Median :3.000    Median :76   Median :0.00000   Median :0.00000
 Mean   :2.787    Mean   :76   Mean   :0.04178   Mean   :0.07521
 3rd Qu.:3.000    3rd Qu.:80   3rd Qu.:0.00000   3rd Qu.:0.00000
 Max.   :5.000    Max.   :86   Max.   :1.00000   Max.   :1.00000
      Meio            Atacante         crossing       finishing
 Min.   :0.00000   Min.   :0.0000   Min.   : 8.00   Min.   : 7.00
 1st Qu.:0.00000   1st Qu.:0.0000   1st Qu.:49.00   1st Qu.:37.00
 Median :0.00000   Median :0.0000   Median :65.00   Median :58.00
 Mean   :0.08217   Mean   :0.1003   Mean   :58.63   Mean   :53.36
 3rd Qu.:0.00000   3rd Qu.:0.0000   3rd Qu.:73.00   3rd Qu.:70.00
 Max.   :1.00000   Max.   :1.0000   Max.   :93.00   Max.   :95.00
 heading_accuracy short_passing     dribbling        jumping
 Min.   : 7.00    Min.   :11.00   Min.   : 7.00   Min.   :28.00
 1st Qu.:52.00    1st Qu.:65.00   1st Qu.:60.25   1st Qu.:63.00
 Median :64.00    Median :72.00   Median :70.00   Median :70.00
 Mean   :59.11    Mean   :68.18   Mean   :64.40   Mean   :69.21
 3rd Qu.:73.00    3rd Qu.:78.00   3rd Qu.:77.00   3rd Qu.:77.00
 Max.   :93.00    Max.   :92.00   Max.   :97.00   Max.   :95.00
    strength       long_shots      aggression    GK_reflexes
 Min.   :30.00   Min.   : 5.00   Min.   :17.0   Min.   : 2.00
 1st Qu.:65.00   1st Qu.:46.25   1st Qu.:56.0   1st Qu.: 8.00
 Median :72.00   Median :63.00   Median :68.0   Median :11.00
 Mean   :70.88   Mean   :56.88   Mean   :64.1   Mean   :18.36
 3rd Qu.:78.00   3rd Qu.:72.00   3rd Qu.:76.0   3rd Qu.:14.00
 Max.   :94.00   Max.   :94.00   Max.   :94.0   Max.   :94.00

### 1.4 Tabela de Frequência

A tabela de frequências é uma ferramenta útil para analisar dados, ajuda a entender a distribuição dos dados, identificar padrões e outliers, validar os dados e tomar decisões informadas.


Para variáveis do tipo caracter (chr), a função ***sapply( )*** é empregada para criar uma tabela contendo apenas os dados desse tipo, excluindo **'name'** e '**full_name'** No entanto, em análises que envolvem um grande número de colunas, pode ser mais eficiente adotar uma abordagem diferente.

In [26]:
sapply(df_fifa[,c("nationality", "national_team", "club_team")], table)

$nationality

          Argentina           Australia             Austria             Belgium
                 17                  13                  16                  19
             Brazil            Bulgaria            Cameroon              Canada
                 23                   3                  17                  19
              Chile            Colombia      Czech Republic             Denmark
                 10                  12                  20                  23
            Ecuador               Egypt             England             Finland
                  6                   7                  23                  19
             France             Germany              Greece             Hungary
                 23                  23                  21                   8
            Iceland               Italy         Ivory Coast              Mexico
                 13                  22                  14                  10
        Netherlands         New Zealand              Norway            Paraguay
                 23                   7                  22                   2
               Peru              Poland            Portugal Republic of Ireland
                  7                  21                  15                  21
            Romania              Russia            Scotland            Slovenia
                 11                  13                  23                  14
       South Africa               Spain              Sweden         Switzerland
                  6                  23                  20                  16
             Turkey       United States             Uruguay           Venezuela
                 21                  23                  15                  13
              Wales
                 21

$national_team

          Argentina           Australia             Austria             Belgium
                 17                  13                  16                  19
             Brazil            Bulgaria            Cameroon              Canada
                 23                   3                  17                  19
              Chile            Colombia       Cote d"ivoire      Czech Republic
                 10                  12                  14                  20
            Denmark             Ecuador               Egypt             England
                 23                   6                   7                  23
            Finland              France             Germany              Greece
                 19                  23                  23                  21
            Hungary             Iceland               Italy              Mexico
                  8                  13                  22                  10
        Netherlands         New Zealand              Norway            Paraguay
                 23                   7                  22                   2
               Peru              Poland            Portugal Republic of Ireland
                  7                  21                  15                  21
            Romania              Russia            Scotland            Slovenia
                 11                  13                  23                  14
       South Africa               Spain              Sweden         Switzerland
                  6                  23                  20                  16
             Turkey       United States             Uruguay           Venezuela
                 21                  23                  15                  13
              Wales
                 21

$club_team

                   1. FC Koln                1. FC Nurnberg
                            3                             1
              1. FSV Mainz 05                     Aarhus GF
                            3                             1
                     Aberdeen                    AEK Athens
                            2                             5
                          AIK                          Ajax
                            2                             8
                   Alanyaspor                   Albacete BP
                            1                             1
    America FC (Minas Gerais)                     Amiens SC
                            1                             1
                      Arsenal                     AS Monaco
                            8                             5
             AS Saint-Etienne                   Aston Villa
                            1                             6
                     Atalanta       Athletic Club de Bilbao
                            3                             1
             Atiker Konyaspor                Atlanta United
                            3                             2
              Atletico Madrid              Atletico Mineiro
                           11                             4
                   AZ Alkmaar                      Barnsley
                            5                             1
          Bayer 04 Leverkusen                   Besiktas JK
                            7                             4
                    BK Hacken                     BK Häcken
                            1                             1
             Blackburn Rovers                       Bologna
                            2                             4
            Borussia Dortmund      Borussia Monchengladbach
                            5                             6
                  Bournemouth                     Brentford
                            5                             2
       Brighton & Hove Albion                  Bristol City
                            2                             2
                   Brondby IF                       Burnley
                            1                             6
                    Bursaspor                      Cadiz CF
                            1                             1
                     Cagliari                  Cardiff City
                            4                             4
                   CD Leganes                       CD Lugo
                            3                             1
                       Celtic           CF Rayo Majadahonda
                           12                             1
                  Chapecoense                       Chelsea
                            1                            10
                 Chicago Fire                Club Brugge KV
                            1                             2
              Colorado Rapids              Columbus Crew SC
                            1                             3
                      Crotone                      Cruzeiro
                            2                             2
               Crystal Palace                     DC United
                            4                             2
             Deportivo Alaves        Deportivo de La Coruna
                            2                             1
                 Derby County                     Dijon FCO
                            4                             1
                Dinamo Zagreb                   Dynamo Kyiv
                            2                             3
          Eintracht Frankfurt          En Avant de Guingamp
                            2                             2
                      Everton                   FC Augsburg
                            6                             4
                 FC Barcelona             FC Bayern Munchen
                           11                            14
                    FC Dallas      FC Girondins de Bordeaux
                            1                             1
                 FC Kobenhavn                       FC Metz
                            4                             1
               FC Midtjylland                     FC Nantes
                            4                             2
                FC Schalke 04                  FC St. Pauli
                            2                             1
                Fenerbahce SK                     Feyenoord
                            7                             2
                   Fiorentina                    Fluminense
                            6                             3
           Fortuna Dusseldorf                     Frosinone
                            2                             1
                       Fulham                Galatasaray SK
                            4                             4
                        Genoa                     Girona FC
                            3                             1
                   Goztepe SK                        Gremio
                            3                             4
                 Hamburger SV                   Hannover 96
                            2                             3
          Heart of Midlothian                 Hellas Verona
                            3                             1
                   Hertha BSC                     Hibernian
                            5                             1
                 HJK Helsinki                Houston Dynamo
                            1                             1
            Huddersfield Town                     Hull City
                            2                             3
               IFK Norrkoping                         Inter
                            1                             7
                Internacional                  Ipswich Town
                            5                             1
                     Juventus                      KAA Gent
                           14                             3
                Kaizer Chiefs                  Kasimpasa SK
                            1                             2
                  Kayserispor                      KRC Genk
                            1                             3
                  KV Oostende La Berrichonne de Chateauroux
                            1                             1
                    LA Galaxy                         Lazio
                            3                             2
                 Leeds United                Legia Warszawa
                            3                             3
               Leicester City                    Levante UD
                            8                             1
                    Liverpool              Lokomotiv Moscow
                            9                             6
               Los Angeles FC                    LOSC Lille
                            3                             1
                     Malmo FF               Manchester City
                            1                            10
            Manchester United         Medipol Basaksehir FK
                           12                             3
                Middlesbrough                         Milan
                            1                             7
                     Millwall           Minnesota United FC
                            2                             3
              Montpellier HSC               Montreal Impact
                            1                             2
                    NAC Breda                        Napoli
                            1                             6
             New York City FC            New York Red Bulls
                            1                             1
             Newcastle United                  Norwich City
                            4                             2
            Nottingham Forest               Odense Boldklub
                            1                             2
               Olympiacos CFP        Olympique de Marseille
                            6                             5
           Olympique Lyonnais                     Orebro SK
                            3                             1
              Orlando City SC               Orlando Pirates
                            3                             2
                      Palermo              Panathinaikos FC
                            2                             1
                         PAOK                      Paris FC
                            6                             1
          Paris Saint-Germain                         Parma
                           10                             2
                   PEC Zwolle               PFC CSKA Moscow
                            1                             3
           Philadelphia Union                Pogon Szczecin
                            1                             2
             Portland Timbers             Preston North End
                            2                             2
                          PSV           Queens Park Rangers
                           10                             1
                   Rangers FC                Rayo Vallecano
                            3                             1
                   RB Leipzig                      RC Celta
                            9                             5
         RC Strasbourg Alsace                  RCD Espanyol
                            2                             1
                      Reading                    Real Betis
                            4                             4
                  Real Madrid                Real Salt Lake
                           11                             1
                Real Sociedad        Real Sporting de Gijon
                            1                             1
           Real Valladolid CF                   Red Star FC
                            1                             1
                     Rizespor                          Roma
                            1                             7
                 Rosenborg BK              Royal Antwerp FC
                            3                             1
         Royal Excel Mouscron                RSC Anderlecht
                            1                             1
                    Sampdoria          San Jose Earthquakes
                            4                             1
                       Santos                      Sassuolo
                            2                             1
                  SC Freiburg             Scunthorpe United
                            2                             1
                    SD Huesca           Seattle Sounders FC
                            2                             4
                   Sevilla FC              Sheffield United
                            5                             2
          Sheffield Wednesday               SK Slavia Praha
                            1                             8
                  SonderjyskE                   Southampton
                            1                             5
                         SPAL                  Sparta Praha
                            1                             2
               Spartak Moscow          Sporting Kansas City
                            3                             3
             Sporting Lokeren             Stade Brestois 29
                            1                             1
             Stade Rennais FC             Standard de Liege
                            1                             3
                   Stoke City                 SV Sandhausen
                            5                             1
             SV Werder Bremen                  Swansea City
                            3                             4
                       Torino                    Toronto FC
                            3                             3
            Tottenham Hotspur        Toulouse Football Club
                           14                             3
                  Trabzonspor           TSG 1899 Hoffenheim
                            1                             3
                      Udinese                   Valencia CF
                            3                             4
       Vancouver Whitecaps FC                 VfB Stuttgart
                            5                             3
              VfL Bochum 1848                 VfL Wolfsburg
                            1                             3
               Viktoria Plzen                 Villarreal CF
                            5                             3
                      Vitesse                       Watford
                            1                             3
         West Bromwich Albion               West Ham United
                            4                             3
               Wigan Athletic                     Willem II
                            2                             2
          WisWieczysta Krakow       Wolverhampton Wanderers
                            2                             5
             Yeni Malatyaspor
                            1

Para visualizar estatísticas descritivas sobre o conjunto de dados, vamos utilizar a função **skimr**.

<small>**Lembrando: o pacote foi instalado e carregado na seção *Bibliotecas*.**</small>

In [27]:
skimr::skim(df_fifa)

Warning message:
“There was 1 warning in `dplyr::summarize()`.
ℹ In argument: `dplyr::across(tidyselect::any_of(variable_names),
  mangled_skimmers$funs)`.
ℹ In group 0: .
Caused by warning:
! There were 307 warnings in `dplyr::summarize()`.
The first warning was:
ℹ In argument: `dplyr::across(tidyselect::any_of(variable_names),
  mangled_skimmers$funs)`.
Caused by warning in `grepl()`:
! unable to translate 'Mart<ed>nez' to a wide string
ℹ Run `dplyr::last_dplyr_warnings()` to see the 306 remaining warnings.”

── Data Summary ────────────────────────
                           Values
Name                       df_fifa
Number of rows             718
Number of columns          30
_______________________
Column type frequency:
  character                5
  numeric                  25
________________________
Group variables            None

── Variable type: character ────────────────────────────────────────────────────
  skim_variable n_missing complete_rate min max empty n_unique whitespace
1 name                  0             1   2  16     0      687          0
2 full_name             0             1   8  42     0      718          0
3 nationality           0             1   4  19     0       45          0
4 national_team         0             1   4  19     0       45          0
5 club_team             0             1   3  29     0      227          0

── Variable type: numeric ──────────────────────────────────────────────────────
   skim_variable                 n_missing complete_rate          mean
 1 id                                    0             1   203668.
 2 overall_rating                        0             1       76.5
 3 value_euro                            0             1 13897695.
 4 wage_euro                             0             1    49560.
 5 age                                   0             1       26.6
 6 height_cm                             0             1      177.
 7 weight_kgs                            0             1       77.7
 8 international_reputation.1.5.         0             1        1.67
 9 weak_foot.1.5.                        0             1        3.19
10 skill_moves.1.5.                      0             1        2.79
11 club_rating                           0             1       76.0
12 Goleiro                               0             1        0.0418
13 Zagueiro                              0             1        0.0752
14 Meio                                  0             1        0.0822
15 Atacante                              0             1        0.100
16 crossing                              0             1       58.6
17 finishing                             0             1       53.4
18 heading_accuracy                      0             1       59.1
19 short_passing                         0             1       68.2
20 dribbling                             0             1       64.4
21 jumping                               0             1       69.2
22 strength                              0             1       70.9
23 long_shots                            0             1       56.9
24 aggression                            0             1       64.1
25 GK_reflexes                           0             1       18.4
             sd     p0       p25     p50       p75      p100 hist
 1    24500.     20801  189831.   204626   222200.    246387 ▁▁▁▆▇
 2        6.02      58      72        76       80         94 ▁▅▇▅▁
 3 16917514.    230000 3325000   8000000 17000000  110500000 ▇▁▁▁▁
 4    65225.      1000   10000     27000    59000     565000 ▇▁▁▁▁
 5        3.59      18      24        26       29         37 ▂▇▇▅▁
 6       14.3      152     170       183      188        203 ▃▁▂▇▂
 7        7.30      59      73        77       82        100 ▂▆▇▃▁
 8        0.892      1       1         1        2          5 ▇▃▂▁▁
 9        0.755      1       3         3        4          5 ▁▂▇▅▁
10        0.952      1       2         3        3          5 ▂▃▇▃▁
11        5.26      60      72        76       80         86 ▁▃▇▇▅
12        0.200      0       0         0        0          1 ▇▁▁▁▁
13        0.264      0       0         0        0          1 ▇▁▁▁▁
14        0.275      0       0         0        0          1 ▇▁▁▁▁
15        0.301      0       0         0        0          1 ▇▁▁▁▁
16       20.6        8      49        65       73         93 ▂▁▃▇▃
17       22.1        7      37        58       70         95 ▃▃▅▇▂
18       20.0        7      52        64       73         93 ▂▁▅▇▃
19       15.3       11      65        72       78         92 ▁▁▁▇▆
20       20.6        7      60.2      70       77         97 ▂▁▂▇▂
21       11.8       28      63        70       77         95 ▁▂▆▇▃
22       10.5       30      65        72       78         94 ▁▁▅▇▂
23       21.4        5      46.2      63       72         94 ▂▂▃▇▂
24       17.3       17      56        68       76         94 ▂▂▅▇▅
25       22.2        2       8        11       14         94 ▇▁▁▁▁

ERROR: Error in is.null(text_repr) || nchar(text_repr) == 0L: 'length = 17' in coercion to 'logical(1)'

A análise do valor do jogador no mercado (`value_euro`) em relação á nacionalidade (`nationality`) é importante para verificar disparidades econômicas, o desenvolvimento do futebol, tendências de mercado e estratégias de recrutamento, auxiliando na tomada de decisão. Por exemplo, é observado que um jogador da **Nova Zelândia** possui o **menor valor de mercado em Euros**, enquanto um jogador da **Argentina** possui o **maior valor de mercado em Euros**.

In [28]:
by(df_fifa$value_euro, df_fifa$nationality, summary)

df_fifa$nationality: Argentina
     Min.   1st Qu.    Median      Mean   3rd Qu.      Max.
  8500000  14500000  18000000  31647059  30000000 110500000
------------------------------------------------------------
df_fifa$nationality: Australia
    Min.  1st Qu.   Median     Mean  3rd Qu.     Max.
  675000  2600000  3100000  4401923  5500000 13000000
------------------------------------------------------------
df_fifa$nationality: Austria
    Min.  1st Qu.   Median     Mean  3rd Qu.     Max.
 3800000  7375000  8500000 11612500 12625000 30500000
------------------------------------------------------------
df_fifa$nationality: Belgium
     Min.   1st Qu.    Median      Mean   3rd Qu.      Max.
  5000000  16750000  22000000  34131579  44500000 102000000
------------------------------------------------------------
df_fifa$nationality: Brazil
     Min.   1st Qu.    Median      Mean   3rd Qu.      Max.
  2700000   6750000   9000000  15339130  15250000 108000000
------------------------------------------------------------
df_fifa$nationality: Bulgaria
   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
 475000  512500  550000  841667 1025000 1500000
------------------------------------------------------------
df_fifa$nationality: Cameroon
    Min.  1st Qu.   Median     Mean  3rd Qu.     Max.
  725000  1300000  5000000  5445588  8000000 15000000
------------------------------------------------------------
df_fifa$nationality: Canada
   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
 375000  675000  875000 2317105 3250000 8000000
------------------------------------------------------------
df_fifa$nationality: Chile
    Min.  1st Qu.   Median     Mean  3rd Qu.     Max.
 4800000  6625000  9750000 13430000 15250000 33000000
------------------------------------------------------------
df_fifa$nationality: Colombia
    Min.  1st Qu.   Median     Mean  3rd Qu.     Max.
 1800000 11250000 15000000 19983333 26125000 59000000
------------------------------------------------------------
df_fifa$nationality: Czech Republic
    Min.  1st Qu.   Median     Mean  3rd Qu.     Max.
 1800000  3100000  4500000  6240000  9250000 14000000
------------------------------------------------------------
df_fifa$nationality: Denmark
    Min.  1st Qu.   Median     Mean  3rd Qu.     Max.
 1100000  6250000  8500000 12391304 14000000 69500000
------------------------------------------------------------
df_fifa$nationality: Ecuador
   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
 725000 1975000 3750000 3854167 5825000 7000000
------------------------------------------------------------
df_fifa$nationality: Egypt
    Min.  1st Qu.   Median     Mean  3rd Qu.     Max.
 1300000  4600000  7500000 16928571 11000000 78500000
------------------------------------------------------------
df_fifa$nationality: England
    Min.  1st Qu.   Median     Mean  3rd Qu.     Max.
 7000000 14250000 17500000 25000000 25750000 96500000
------------------------------------------------------------
df_fifa$nationality: Finland
    Min.  1st Qu.   Median     Mean  3rd Qu.     Max.
  240000   700000  1300000  2878421  2650000 22000000
------------------------------------------------------------
df_fifa$nationality: France
    Min.  1st Qu.   Median     Mean  3rd Qu.     Max.
11000000 15750000 26000000 33173913 41500000 81000000
------------------------------------------------------------
df_fifa$nationality: Germany
    Min.  1st Qu.   Median     Mean  3rd Qu.     Max.
 8500000 23750000 34000000 35565217 45000000 76500000
------------------------------------------------------------
df_fifa$nationality: Greece
    Min.  1st Qu.   Median     Mean  3rd Qu.     Max.
 1200000  2800000  5000000  7300000  8500000 36500000
------------------------------------------------------------
df_fifa$nationality: Hungary
    Min.  1st Qu.   Median     Mean  3rd Qu.     Max.
  750000  3750000  6750000  7568750 10375000 18000000
------------------------------------------------------------
df_fifa$nationality: Iceland
    Min.  1st Qu.   Median     Mean  3rd Qu.     Max.
  575000  1100000  2200000  5373077  4500000 22500000
------------------------------------------------------------
df_fifa$nationality: Italy
    Min.  1st Qu.   Median     Mean  3rd Qu.     Max.
 7500000 12125000 18750000 24113636 30000000 62000000
------------------------------------------------------------
df_fifa$nationality: Ivory Coast
    Min.  1st Qu.   Median     Mean  3rd Qu.     Max.
  700000  3300000  5500000  7466071  9750000 19500000
------------------------------------------------------------
df_fifa$nationality: Mexico
    Min.  1st Qu.   Median     Mean  3rd Qu.     Max.
 5000000  8000000 10500000 12250000 12750000 29500000
------------------------------------------------------------
df_fifa$nationality: Netherlands
    Min.  1st Qu.   Median     Mean  3rd Qu.     Max.
 5500000 11500000 16000000 19608696 27250000 59500000
------------------------------------------------------------
df_fifa$nationality: New Zealand
    Min.  1st Qu.   Median     Mean  3rd Qu.     Max.
  230000   450000   950000  3240000  5050000 10500000
------------------------------------------------------------
df_fifa$nationality: Norway
    Min.  1st Qu.   Median     Mean  3rd Qu.     Max.
 2000000  3425000  4450000  5759091  6750000 14000000
------------------------------------------------------------
df_fifa$nationality: Paraguay
    Min.  1st Qu.   Median     Mean  3rd Qu.     Max.
 2500000  5625000  8750000  8750000 11875000 15000000
------------------------------------------------------------
df_fifa$nationality: Peru
   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
1400000 3400000 6500000 5171429 6750000 8000000
------------------------------------------------------------
df_fifa$nationality: Poland
    Min.  1st Qu.   Median     Mean  3rd Qu.     Max.
  425000  3700000  4400000 12336905 10500000 77000000
------------------------------------------------------------
df_fifa$nationality: Portugal
    Min.  1st Qu.   Median     Mean  3rd Qu.     Max.
 1000000 10750000 21000000 23800000 28000000 77000000
------------------------------------------------------------
df_fifa$nationality: Republic of Ireland
   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
 325000 2400000 3400000 4220238 6000000 9500000
------------------------------------------------------------
df_fifa$nationality: Romania
    Min.  1st Qu.   Median     Mean  3rd Qu.     Max.
  500000  1237500  2000000  3754545  5850000 10500000
------------------------------------------------------------
df_fifa$nationality: Russia
    Min.  1st Qu.   Median     Mean  3rd Qu.     Max.
 2000000  6000000  8500000  9515385 14000000 18500000
------------------------------------------------------------
df_fifa$nationality: Scotland
    Min.  1st Qu.   Median     Mean  3rd Qu.     Max.
  900000  1700000  4600000  6014130  7750000 29000000
------------------------------------------------------------
df_fifa$nationality: Slovenia
    Min.  1st Qu.   Median     Mean  3rd Qu.     Max.
  750000  2925000  4850000 11025000 12125000 68000000
------------------------------------------------------------
df_fifa$nationality: South Africa
   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
 550000 1012500 1550000 2966667 3625000 9000000
------------------------------------------------------------
df_fifa$nationality: Spain
    Min.  1st Qu.   Median     Mean  3rd Qu.     Max.
14000000 26250000 32000000 36065217 42750000 72000000
------------------------------------------------------------
df_fifa$nationality: Sweden
    Min.  1st Qu.   Median     Mean  3rd Qu.     Max.
 1600000  3025000  6000000  7305000  8625000 26000000
------------------------------------------------------------
df_fifa$nationality: Switzerland
    Min.  1st Qu.   Median     Mean  3rd Qu.     Max.
 2500000  4550000  9000000 11287500 16875000 24000000
------------------------------------------------------------
df_fifa$nationality: Turkey
    Min.  1st Qu.   Median     Mean  3rd Qu.     Max.
  700000  3200000  7000000  7180952 10500000 19000000
------------------------------------------------------------
df_fifa$nationality: United States
    Min.  1st Qu.   Median     Mean  3rd Qu.     Max.
 1100000  2900000  4700000  5434783  6750000 15000000
------------------------------------------------------------
df_fifa$nationality: Uruguay
    Min.  1st Qu.   Median     Mean  3rd Qu.     Max.
 2800000 12250000 16000000 24653333 29500000 80000000
------------------------------------------------------------
df_fifa$nationality: Venezuela
    Min.  1st Qu.   Median     Mean  3rd Qu.     Max.
  500000  1100000  4300000  5713462  8000000 28500000
------------------------------------------------------------
df_fifa$nationality: Wales
    Min.  1st Qu.   Median     Mean  3rd Qu.     Max.
  500000  1600000  3900000  8063095  7500000 60000000